@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,300&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  width: 100%;
}

.notification-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.336);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.ok-btn {
  background-color: #4e9ef5;
  border: none;
  margin-top: 10px;
  color: wheat;
  padding: 5px 8px;
}

.notification-modal-content {
  background-color: white;
  border-radius: 20px;
  padding: 1em;
  width: 300px;
}

.warning {
  width: 30px;
}

.content-ctn {
  overflow-x: scroll;
  white-space: nowrap;
}

.content-ctn::-webkit-scrollbar {
  height: 6px;
}

.content-ctn::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

.content-ctn::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}

.content-sub-ctn {
  display: flex;
  width: fit-content;
  padding-right: 100px;
  gap: 130px;
  position: relative;
  white-space: nowrap;
}

.stock-warn {
  display: flex;
  align-items: center;
  width: 200px;
}

.video-container {
  width: 40%;
  margin: auto;
}

.background-video {
  width: 100%;
}

.no-content {
  color: rgb(14, 14, 70);
  text-align: center;
}